@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Qwitcher+Grypen:wght@700&family=Special+Elite&family=Urbanist:wght@400&family=Water+Brush&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
*{
    background-color: #090E12;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.img-h{
    background-color: black;
    opacity: 75%;
    width: 100%;
    height: 750px;
    position: relative;
}

.app-details{
    width: 50%;
    align-items: center;
    margin: 20px;
}
#playstore{
    width: 100%;
    height: 200px;
}

.head{
    color: whitesmoke;
    position: absolute;
    background-color: transparent;
    top: 85%;
    left: 51%;
    transform: translate(-50%,-50%);
    font: bolder;
    font-weight: 600;
    font-size: 100px;
}

.tagline{
    color: whitesmoke;
    position: absolute;
    top: 95%;
    left: 48.5%;
    transform: translate(-40%,-40%);
    word-spacing: 20%;
    letter-spacing: 12px;
    font-weight: 400;
    font-size:15px ;
}

.nav{
    color: whitesmoke;
    padding: 20px;
    overflow: none;
    text-align: center;
    position: sticky;
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

nav a{
    color: white;
    margin: 0;
    box-sizing: border-box; 
    font-size: larger;
    font-weight: 600;
    overflow: none;
    padding: 30px;
    letter-spacing: 1px;
    text-decoration: none;
}
nav a:hover{
    background: rgb(253, 190, 55);
    color: #04064c;
}

.gradient_text{
    background: linear-gradient(80deg,#f97d30,#21d3fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: rgb(255, 255, 255);
    text-shadow:0.5px #f7d373;
    
}

.side-nav {
    height: 100%;
    width: 300px;
    position: absolute;
    background-color: #070a0c;
    transition: 0.5s ease;
    transform: translateX(-300px);

}

h1{
    background-color: #070a0c;
    color: #ffffff;
    font-weight: 800;
    text-align: right;
    padding: 20px 0;
    padding-right: 105px;
    pointer-events: none;
}
.artists{
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    padding: 20px 0;
    pointer-events: none;
    background-color: #090E12;
}

ul li{
    background-color: #070a0c;
    list-style: none;
    overflow: hidden;
}

ul li a{
    background-color: #070a0c;
    color: whitesmoke;
    font-weight: 500px;
    padding: 15px 0;
    padding-left: 25px;
    display: block;
    overflow: hidden;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    font-family: 'Urbanist';
    font-size: medium;
}
#navi{
    background: linear-gradient(60deg,#f97d30,#2f557e,#0c1c2e);
    -webkit-background-clip: text;
    -webkit-text-stroke: rgb(255, 255, 255);
    text-shadow:0.5px #f7d373;
}
ul li a i{
    background-color: #070a0c;
    width: 40px;
    text-align: center;
}
input{
    display: none;
    visibility: hidden;
    -webkit-appearance:none ;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top:840px;
    left: 40px;
    background:linear-gradient(80deg,#f97d30,#21d3fb);
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color:#070a0c;
    border-radius: 50px;
    transition: 0.3s ease;
}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%);
}
input:checked ~.toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~.toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~.toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
}
input:checked ~ .side-nav{
    transform: translateX(0px);
    box-shadow: #ffffff;
}
.container-1,.container-2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
}
.box{
    width: 30%;
    border:1px rgb(164, 163, 163) solid;
    box-shadow: 2px black;
    border-radius: 5px;
    margin: 35px;
    color:whitesmoke ;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 15px;
}
#box1,#box-1{
    height: 600px;
    margin-top: 75px;
    box-shadow: 1px 1px 1px 1px rgb(198, 194, 194);
}
#box2,#box-1{
    height: 780px;
    margin-top: 20px;
    box-shadow: 1px 1px 1px 1px rgb(198, 194, 194);
}
#box3,#box-1{
    height: 600px;
    margin-top: 75px;
    box-shadow: 1px 1px 1px 1px rgb(198, 194, 194);
}
button{
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border-radius: 5px;
    font-size: 20px;
}
head{
    background-color: #070a0c;
    color: #ffffff;
}
p{
    padding: 20px;
    height: 105px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
    padding-top: 25px;
  
    > div {
      flex: 0 0 120px;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      box-shadow: 1px 5px 15px #49effb;
      position: relative;
      overflow: hidden;
  
      &:nth-of-type(1) {
        background: url("https://images.pexels.com/photos/1845208/pexels-photo-1845208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
          no-repeat 50% / cover;
      }
      &:nth-of-type(2) {
        background: url("https://images.pexels.com/photos/36469/woman-person-flowers-wreaths.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
          no-repeat 50% / cover;
      }
      &:nth-of-type(3) {
        background: url("https://images.pexels.com/photos/1468379/pexels-photo-1468379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
          no-repeat 50% / cover;
      }
      &:nth-of-type(4) {
        background: url("https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
          no-repeat 50% / cover;
      }
  
      .content {
        font-size: 1.5rem;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 15px;
        opacity: 0;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        background:transparent;
        background: linear-gradient(
          0deg,
          transparent 0%,
          transparent 100%
        );
        transform: translatey(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
        visibility: hidden;
  
        span {
          display: block;
          margin-top: 5px;
          font-size: 1.2rem;
        }
      }
  
      &:hover {
        flex: 0 0 250px;
        box-shadow: 1px 3px 15px #7645d8;
        transform: translatey(-30px);
      }
  
      &:hover .content {
        opacity: 1;
        transform: translatey(0%);
        visibility: visible;
      }
    }
  }
  h2{
    padding-top: 10px;

  }
.app-img{
    padding-top: 20px;
    display: flex;
    align-items: left;
    width: 70%;
}

.tutorials{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
}
.app-details{
    padding-top: 20px;
    width: 500px;
    display: flex;
    padding: 30px;
    left:300px ;
    height: 600px;
    border-radius: 30px;
}
.download{
    background-color: rgb(17, 130, 68);
    width: 280px;
    height: 60px;
    color: white;
    border-radius: 20px;
    margin-top: 30%;
    text-align: center;
}
button:hover{
    cursor: pointer;
    background-color: rgb(136, 2, 2);
    width: 300px;
    height: 70px;

}
{
    color: whitesmoke;
    margin-top: 20%;
    width: fit-content;
    font-size: xx-large;
    font-weight: 200;
    text-align: center;
}

ul li:hover a{
    color:#f93838 ;
    background-color: #000000;
}
footer{
    background-color:#090E12 ;
    overflow: hidden;
}
footer a{
    color: white;
    background-color:#090E12 ;
    padding:15px;
    text-align: center;
    float: left;
    text-decoration: none;
    
}
